#contato {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background: #181818;
    width: 70%;    
    max-width: 550px;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    margin-bottom: 50px;
  }

  #contato h1 {
    color: #f5f5f5;
    font-size: 5rem;
  
    margin: 5rem;
  }

  #contato img{
    border-radius: 40px 2px 40px 2px;
  }