header{
    width: 100vw;
    min-height: 100px;
    padding-top: 20px;
    padding-left: 30px;
}
.container{
    max-width:1600px;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.menu ul{
    display: flex;
    list-style: none;
}

.menu ul li a {
    margin-right: 50px;
    text-decoration: none;
    color: var(--second);
    font-size: 1.8rem;
    font-weight: 500;
    transition: color 0.2s ease-in-out 0s;
    padding: 10px;
}

.menu ul li a:hover {
    color: var(--terciary);
    transition: 1s;
}

.menu-buttom{
    align-items: center;
    background: var(--primary);
    padding: 10px 30px;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out 0s;
}

.menu ul li a .menu-buttom:hover {
    color: #4bdff1;
}

.menu i{
    font-size: 3.5rem;
    transition: color 0.2s ease-in-out 0s;
}

.menu i:hover{
    font-size: 3.5rem;
    color: #4bdff1;
}

.menu_mobile{
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
}

.mm_line{
    height: 3px;
    background-color: var(--terciary);
}


header .color {
    width: 65px;
    height: 65px;
    border: 1px solid rgba(7, 13, 18, 0.01);
    border-radius: 50%;
    background-color: transparent;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: white;
    background: rgba(130, 148, 53, 0.2);
    cursor: pointer;
    text-align: center;
    font-family: 'Secular One', sans-serif;
    position: fixed;
    top: 105px;
    right: 7rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;

}