@media screen and (max-width:1440px){
  html{
    font-size: 8.5px;
  }

  .container{
    padding: 0px 0px
  }

}

@media screen and (max-width:1112px) {
  html{
    font-size: 8px;
  }

  .banner-esquerda{
    width: 100%;
  }
  
  .banner-esquerda {
    width: 100%;
    justify-content: end;
  }

  .menu nav ul {
    flex-direction: column;
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: var(--bg-primary);
    margin-bottom: 20px;
    height: auto;
  }

  .menu ul li {
    display: flex;
    padding: 10px;
    text-transform: uppercase;
    margin-left: 20px;
  }

  header{
    height: auto;
  }

  header .container{
    flex-direction: row;
  }

  .menu_mobile{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
  }

  .menu_mobile:hover{
    opacity: .25;
  }

    .menu nav ul li a {
      font-size: 2rem;
    }
  
    .menu ul li:hover {
      background-color: #4bdff1;
    }
  
    .menu i:hover {
      font-size: 3.5rem;
      color: var(--second);
    }
  
    .menu ul li a:hover {
      color: var(--second);
    }

    .sobre-mim{
    flex-direction: column;
    }
}

@media screen and (max-width:780px) {
  
  .container{
  padding: 0px 0px;
  }

  #projetos .container{
  padding: 0px 0px;    
  }

  .banner-direita {
    display: none;
  }
  .banner-esquerda {
    text-align: center;
  }

  .sobre-mim {
    flex-direction: column;
  }

  .sobre-mim-direita {
    margin-top: 90px;
    text-align: center;
  }

  .sobre-mim-direita p {
    max-width: 1000px;
  }

  .conhecimentos-cards {
    flex-direction: column;
  }

  .projeto-card-desc {
    display: block;
  }

  .projeto-card-desc p {
    margin-top: 30px;
  }

  .banner-esquerda p {
    margin: auto;
    display: none;
  }
  .icone-rolagem img {
    display: none;
  }

  .sobre-mim-direita{
    margin-left: -10px;
  }
}

@media (max-width: 414px) {
  html {
    font-size: 8px;
  }

  .container {
    padding: 0px 0px;
  }

  .projeto-card-desc {
    display: block;
  }

  .projeto-card-desc p {
    margin-top: 30px;
  }

}

@media screen and (max-width: 568px) {
  .whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 70px;
    right: 80px;
  }
  #whatsapp {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 544px) {
  #contato {
    width: 95%;
  }
  form,
  input {
    width: 100%;
  }
}




